.keyButton{
  background-color: #63636e;
  color: #f3f3f3;
  height: 80px;
  width: 80px;
  margin: 15px 0 0 15px;
  border-shadow: 2px 2px 2px black;
  border: 1px solid #5b5656;
  font-size: 45px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px 1px #2a2929;
}